<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            width: 100%;
            height: 100%;
        }

        body {
            width: 100%;
            height: 100%;
            padding-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            cursor: pointer;
        }

        .container {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        .account {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .create-workspace {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .launch-workspaces {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>A Potato UI :_(</h1>
    </div>

    <div class="container">
        <div class="account">
            <% if (user) { %>
                <h2>User</h2>
                <h3>
                    <%= user.name %>
                        <%= user.lastName %>
                </h3>
                <% } %>
                    <button id="sign-out-app" onclick="signOut()">Sign Out From App</button>
        </div>
        <div class="create-workspace">
            <form action="http://localhost:3000/api/workspaces/create" method="post">
                <h3>Create Workspace</h3>
                <label for="username">Name</label>
                <input type="text" name="name" id="workspace-name">
                <button type="submit">Create</button>
            </form>
        </div>
        <div class="launch-workspaces">
            <h2>Launch Workspace</h2>
            <% if (user.workSpaces?.length>0) { %>
                <% user.workSpaces.forEach(workSpace=>{ %>
                    <h3>

                        <%= workSpace.name %>

                    </h3>
      
                    <button onclick="getWorkSpace('<%= workSpace.id %>')">Launch</button>
                    <% }) %>
                        <% } else { %>

                            <h3>workspace</h3>
                            <h3>workspace</h3>
                            <h3>workspace</h3>

                            <% } %>
        </div>
    </div>

</body>
<script>
    function signOut() {
        fetch('http://localhost:3000/api/auth/signout-app', { method: 'GET' }).then(response => {
            if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' +
                    response.status);
                return;
            }
            window.location.assign('/');
            return;
        }).catch(err => {
            console.log('Fetch Error :-S', err);
        });;

    }

    function getWorkSpace(id) {
        fetch(`http://localhost:3000/api/workspaces/${id}`, { method: 'GET' }).then(response => {
            if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' +
                    response.status);
                return;
            }
            if (response.ok) {
                response.json().then(json => {
                    console.log(json);
                });
            }
            window.location.assign(`/api/workspaces/${id}`);
            return;
        }).catch(err => {
            console.log('Fetch Error :-S', err);
        });;

    }

</script>

</html>